* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI';
}

h1 {
    background-color: rgba(58, 49, 230, 0.644);
    color: rgb(87, 30, 30);
}

.bordesRedondeados {
    border-radius: 10px;
}

.imgChica {
    width: 100px;
    height: 100px;
}

section article {
    background-color: black;
    color: white;
}

.centrar {
    text-align: center;
}

.navegacion li a {
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    padding: 2px;
}

.catsandstars {
    background-image: url("../assets/15635757_5643919.jpg");
    background-repeat: no-repeat;

}

.fondoTitulos {
    color: black;
    background-color: grey;
    text-align: center;
}

.ul {
    list-style-type: none;
}

.calibri {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    border-bottom: 10px;
}

.menuEnLinea li {
    display: inline-block;
}


.navegacion li a:hover {
    background-color: grey;
}

.galeria {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galeria img {
    width: 30%;
    padding: 5px;
}

.formulario {
    list-style-type: none;
}

.barranav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}

h3 {
    background-color: darkcyan;
    color: black;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    width: 70%;
    align-items: center;
}

.contenedor_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

header {
    display: flex;
}

.logo {
    width: 30%;
}