* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI';
}

h1 {
    background-color: rgba(58, 49, 230, 0.644);
    color: rgb(87, 30, 30);
    margin: 3px;
}

.bordesRedondeados {
    border-radius: 10px;
}

.imgChica {
    width: 100px;
    height: 100px;
}

section article {
    background-color: black;
    color: white;
}

.centrar {
    text-align: center;
}

.fondoTitulos {
    color: black;
    background-color: grey;
    text-align: center;
}

.ul {
    list-style-type: none;
}

.calibri {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    border-bottom: 10px;
}

.menuEnLinea li {
    display: inline-block;
}


.navegacion li a:hover {
    background-color: grey;
}

.galeria {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;
}

.galeria img {
    width: 100%;
    gap: 10px;
}

.formulario {
    list-style-type: none;
}

h3 {
    background-color: darkcyan;
    color: black;
    text-align: center;
}



.contenedor_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

header {
    display: flex;
}

.logo {
    width: 30%;
}

.carrousel{
    display: grid;
    width: auto;
    height: auto;
    align-items: center;
}

.contenedor_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:    "encabezado"
                            "principal"
                            "pie_de_pagina";
}

.encabezado {
    grid-area: encabezado;
    justify-content: end;
    display: inline-block;
}

.principal {
    grid-area: principal;
}

.pie_de_pagina{
    grid-area: pie_de_pagina;
}

@media screen and (min-width: 720px) {
    .contenedor_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .encabezado{
        justify-content: end;
        display: block;        
    }
    .galeria img{
        width: 48%;
        gap: 10px;
    }
    
}

@media screen and (min-width: 1200px) {
    .contenedor_grid {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows:     auto auto auto;
        grid-template-areas:    "encabezado     encabezado"
                                "principal     principal"
                                "pie_de_pagina      pie_de_pagina";
    }
    .encabezado{
        justify-content: end;
    }

    .galeria img{
        width: 100%;
       
    }
    }